@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg {
  background-image: linear-gradient(315deg, #2e325a, #0e112a);
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.animateClick {
  animation: clickEffect 0.3s ease;
  filter: brightness(0%) contrast(100%);
}

svg:hover  {
  cursor: pointer;
}

