@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.kumbh-font {
  font-family: "Kumbh Sans", sans-serif;
}

.roboto-font {
  font-family: "Roboto Slab", serif;
}

.space-font {
  font-family: "Space Mono", monospace;
}

.bg {
  background-image: linear-gradient(315deg, #2e325a, #0e112a);
}

